<div class="contenedor">
  <img appNoImagenBanner [src]="url + (datos.imagen?.name || '')"  [alt]="datos.altImagen" class="imagen" />
  <img src="assets/img/el-pisito.svg" alt="loguito" class="loguito" />
  <div class="texto" >
    <div>
      <h3>
        {{ datos.titular }}
      </h3>
      <p>{{ datos.claim }}</p>
    </div>
    <a *ngIf="!(datos.link == '' || datos.link == null || datos.link == '#' || datos.link == undefined)" routerLink="datos.link">{{ datos.textoLink }}</a>
  </div>
</div>
