<section class="contenedor">

    <h1>Editar Banner horizontal</h1>

        @if(!cargaCompletada){

        <app-preloader/>

    }@else{


      <div class="contenedor-formulario">

                <div class="contenedor-subida-imagen mb-3">

              <h3>IMAGEN</h3>


                  @if(hayImagen){


                    <div class="contenedor-thumb-boton">

                        <img class="thumbnail-imagen-elegida" [src]="url+bannerHorizontal.imagen?.nombre" alt="Imagen actual del banner horizontal">
                        <button class= "btn btn-md btn-warning"  (click)="eliminarImagen()">Sustituir la imagen</button>


                    </div>




                  }@else {

                      <p>La imagen debe ser un archivo JPG del siguiente tamaño: 500px x 220px</p>
                      <label for="imagen">{{labelElegirImagen}}</label>
                      <input #imagen type="file" id="imagen" name="imagen" class="form-control" [disabled]="imagenesSeleccionadas" accept="image/jpeg" (change)="onImagenSelected($event)">

                      @if(imagePreview){

                        <div class="contenedor-thumb-boton">


                            <img [src]="imagePreview" alt="Thumbnail de la imagen elegida" class="thumbnail-imagen-elegida" />

                            <button class= "btn btn-md btn-warning"  (click)="sustituirImagen()">Sustituir la imagen</button>


                        </div>


                      }

                  }


          </div>



          <form #form="ngForm" class="formulario" (ngSubmit)="edit()">


                <p class="id-form mb-3">ID:{{bannerHorizontal.id}}</p>

                <div class="mb-3">

                    <label for="activo" class="me-2 cursor-check">ACTIVO</label>
                    <input type="checkbox" id="activo" name="activo" class="form-check-input cursor-check" [(ngModel)]="bannerHorizontal.activo">

                </div>

              <div class="mb-3">
                  <label for="titular">TITULAR*</label>
                  <input type="text" id="titular" name="titular" required class="form-control" autocomplete="off" [(ngModel)]="bannerHorizontal.titular">
              </div>

              <div class="mb-3">
                  <label for="claim">CLAIM*</label>
                  <input type="text" id="claim" name="claim" required class="form-control" autocomplete="off" [(ngModel)]="bannerHorizontal.claim">
              </div>

              <div class="mb-4">
                  <label for="alt-imagen">ALT IMAGEN</label>
                  <input type="text" id="alt-imagen" name="alt-imagen" class="form-control" autocomplete="off" [(ngModel)]="bannerHorizontal.altImagen">
              </div>


              <div class="contenedor-links mb-3">

                  <div class="mb-3">
                      <label for="link">LINK</label>
                      <input type="text" id="link" name="link" class="form-control" autocomplete="off" placeholder="No introducir sin texto link" [(ngModel)]="bannerHorizontal.link">
                  </div>

                  <div class="mb-3">
                      <label for="texto-link">TEXTO LINK</label>
                      <input type="text" id="texto-link" name="texto-link" class="form-control" autocomplete="off"  placeholder="No introducir sin link" [(ngModel)]="bannerHorizontal.textoLink">
                  </div>



              </div>





              <div class="contenedor-paginas mb-3">

                  <h3>PÁGINAS</h3>

                  <p>Chequea la página en la que desees que aparezca el banner</p>

                  <div class="mb-3">
                      <label for="home">HOME</label>
                      <input type="checkbox" id="home" name="home" class="form-check-input" [(ngModel)]="bannerHorizontal.home">
                  </div>

                  <div class="mb-3">
                      <label for="consulta-hipotecas">CONSULTA DE HIPOTECAS</label>
                      <input type="checkbox" id="consulta-hipotecas" name="consulta-hipotecas" class="form-check-input" [(ngModel)]="bannerHorizontal.consultaHipotecas">
                  </div>

                  <div class="mb-3">
                      <label for="detalle-inmueble">DETALLE DEL INMUEBLE</label>
                      <input type="checkbox" id="detalle-inmueble" name="detalle-inmueble" class="form-check-input" [(ngModel)]="bannerHorizontal.detailInmueble">
                  </div>


                  <div class="mb-3">
                      <label for="servicios">SERVICIOS</label>
                      <input type="checkbox" id="servicios" name="servicios" class="form-check-input" [(ngModel)]="bannerHorizontal.servicios">
                  </div>

                  <div class="mb-3">
                      <label for="list-inmueble-finder">LIST INMUEBLE FINDER</label>
                      <input type="checkbox" id="list-inmueble-finder" name="list-inmueble-finder" class="form-check-input" [(ngModel)]="bannerHorizontal.listInmuebleFinder">
                  </div>


              </div>


              <div class="contenedor-boton">

                  <button class="btn btn-md btn-primary" type="submit" [disabled]="form.invalid">Modificar</button>

              </div>

          </form>
      </div>
    }



</section>



<!-- VENTANA MODAL -->
 <app-modal-admin [datos]="datosModal"/>

