<div class="contenedor">
  <div class="contenedor-logo">
    <img src="assets/img/el-pisito.svg" alt="Logo El Pisito" class="logo">
    <span class="texto-logo">El Pisito</span>
  </div>
  <div class="contenedor-apps">

    <a href="#" class="boton-app">
      <img src="assets/img/google-play.png" alt="banner de google play">
      <div class="textos-app">
        <span class="disponible">DISPONIBLE EN</span>
        <span class="texto-boton">Google Play</span>
      </div>
    </a>

    <a href="#" class="boton-app">
      <img src="assets/img/app-store.png" alt="banner de app store">
      <div class="textos-app">
        <span class="disponible">CONSIGUELO EN</span>
        <span class="texto-boton">App Store</span>
      </div>
    </a>

  </div>

</div>