<div class="contenedor">

    <h1>Tus inmuebles favoritos!!!</h1>

    
    @if(!cargaCompletada){

        <app-preloader/>

    }@else{

        <div class="criterios-busqueda">

            <h3>TIPO: <span>{{nombreTipo}}</span></h3>
            <h3>POBLACIÓN: <span>{{nombrePoblacion}}</span></h3>
            <h3>OPERACIÓN: <span>{{operacion | mayusculas}}</span></h3>
            @if(cartelNoInmuebles){
                <h3>No existe ningún inmueble con esos criterios de búsqueda</h3>
            }
                
        </div>

        <div class="contenedor-fichas">

            @for( inmueble  of aDatos  ;  track inmueble.id  ){

                <app-ficha-inmueble [datos]="inmueble" class="ficha-inmueble"/>
            
            }

            
    
        </div>








    }

    <app-contenedor-banners-horizontal [banners]="banners"/>



</div>

