/* ================================================= */
/* FIRST MOBILE */
/* ================================================= */

.contenedor{

  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.copyright{

  font-size: 1rem;
}

span{

  color: var(--amarillo-logo);
  font-size: 0.7rem;
}

a{
  color:white;
  font-size: 0.8rem;
}

a:link{
  color:white;
}

.copyright-portal{

  display: flex;
  flex-direction: column;
}


/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */

/* MAYOR O IGUAL DE 576PX (A PARTIR DE 575PX INCLUSIVE) - SMARTPHONES */
@media only screen and (min-width:576px){





}


/* MAYOR O IGUAL DE 768PX (A PARTIR DE 768PX INCLUSIVE) - SMARTPHONES GRANDES, TABLETS */
@media only screen and (min-width:768px){


  .contenedor{

      flex-direction: row;
      justify-content: space-between;

  }

  .copyright-portal{
      flex-direction: row;
      align-items: center;
      gap:10px;
  }


}



/* MAYOR O IGUAL DE 992PX (A PARTIR DE 992PX INCLUSIVE) - PC PEQUEÑOS, LAPTOPS */
@media only screen and (min-width:992px){




}

/* MAYOR O IGUAL DE 1200PX (A PARTIR DE 1200PX INCLUSIVE) - PC GRANDES, TELEVISIONES */
@media only screen and (min-width:1200px){




}