/* ================================================= */
/* FIRST MOBILE */
/* ================================================= */

.contenedor{


    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris-oscuro);
}

.links{
    display: flex;
    flex-direction: column;
}

a{
    color:white;
    font-size: 0.8rem;
    padding: 5px 0;
}

h3{
    color: var(--amarillo-logo);
}


/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */

/* MAYOR O IGUAL DE 576PX (A PARTIR DE 575PX INCLUSIVE) - SMARTPHONES */
@media only screen and (min-width:576px){

 



}


/* MAYOR O IGUAL DE 768PX (A PARTIR DE 768PX INCLUSIVE) - SMARTPHONES GRANDES, TABLETS */
@media only screen and (min-width:768px){

    .contenedor{

        padding: 1.5rem 0;

    }

   .corporativo{
    display: flex;
    gap:8px;
   }

   .secciones{
    display: flex;
    gap:8px;
   }


   .links{

    border-left: 2px solid var(--amarillo-logo);
    padding-left: 8px;
  
    }

    a{
        padding:0 0 8px 0;
    }


}



/* MAYOR O IGUAL DE 992PX (A PARTIR DE 992PX INCLUSIVE) - PC PEQUEÑOS, LAPTOPS */
@media only screen and (min-width:992px){


  

}

/* MAYOR O IGUAL DE 1200PX (A PARTIR DE 1200PX INCLUSIVE) - PC GRANDES, TELEVISIONES */
@media only screen and (min-width:1200px){




}