<div class="modal fade" id="modalAdmin" tabindex="-1" aria-labelledby="modalAdmin" aria-hidden="true" #modalAdmin>

    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">

                <div>
                    <h2>{{datos.status}}</h2>

                    @if(datos.status === "200" || datos.status === "201"){

                        <img src="assets/img/ok-modal.png">
                    }@else {
                        <img src="assets/img/error-modal.png">
                    }

                </div>

            </div>

            <div class="modal-body">

                <h5 class="modal-title">{{datos.titulo}}</h5>
                <p>{{datos.mensaje}}</p>
            </div>

            <div class="modal-footer">


              @if(datos.origen == "inmueble" && datos.error != true){


                  <div class="option-inmueble">

                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="inmuebles" id="inmuebles1" value="listado"  [(ngModel)]="seleccionada" checked>
                          <label class="form-check-label" for="inmuebles1">
                            Ir al listado de inmuebles
                          </label>
                        </div>


                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="inmuebles" id="inmuebles2" value="imagenes"  [(ngModel)]="seleccionada">
                          <label class="form-check-label" for="inmuebles2">
                            Añadir imágenes
                          </label>
                        </div>


                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="inmuebles" id="inmuebles3" value="archivos"  [(ngModel)]="seleccionada">
                          <label class="form-check-label" for="inmuebles3">
                            Añadir Archivos
                          </label>
                        </div>

                  </div>


              }

                <div class="contenedor-boton">

                     <button type="button" class="btn btn-secondary" data-bs-dismiss = "modal">Cerrar</button>

                </div>



            </div>



        </div>



    </div>


</div>

