img{

  width: 60%;
  height: auto;
}

.modal-header div{

  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;

}

h2{

  color: var(--azul-logo);
  font-size: 32px;
  font-weight: bold;
}